# Python
__pycache__/
model/__pycache__/
*.pyc
v_env/
.venv/

# Node.js
node_modules/
dist/
.env
frontend/node_modules/
mern-backend/node_modules/

# Large Data & Image Folders
# anime_embeddings.npy
model/anime_embeddings_1.npy
# anime_filenames.pkl
model/anime_filenames_1.pkl
# mal_character_images/
model/mal_character_faces_cropped/
mern-backend/public/mal_character_images/

# macOS
.DS_Store